body{
	margin: 0;
	padding: 0;
}
.myphotes{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 20px;
}
.Mydisplay:hover{
	background-color: dimgray;
	cursor: hand;
}
.item:hover{
	background-color: dimgray;
}
.text-header:hover{
	background-color: dimgray;
}
.Dashbords{
	padding-top: 30px;
}
.item{
	margin-top: 15px;
}
.item a{
	color: black;
}
.jiantou{transform:rotate(90deg);}
a{
	color: #000000;
}
a:hover{
	text-decoration: none;
	color: white;
	/*background-color: gainsboro;*/
	/*background-color: darkred;*/
	}


.text-head{
	height: 50px;
	width: 100%;
    padding-top: 5px;
    margin-left: 0px;
	background-color: white;
}
#start{
	margin-left: 15px;
}
#start:hover{
	background-color: #DEB887;
}
.text-head>input[type='text']{
	border: 0px solid white;
	 outline:none;/*点击出现的边框*/
	width: 350px;
	height: 30px;
	padding-left: 20px;
}
.content{
	padding-top: 20px;
	padding-left: 80px;
	height: auto;
	
}
.tables{
	padding-top: 20px;
	
}
td{
	width: 150px;
	height: 40px;
}
th{
	width: 260px;	
}
tr:nth-child(even){
	background-color:burlywood;
}
.btn-group a:hover{
	background-color: darkgray;
	color: blue;
}
.select{
	width: 240px;
	height: auto;
	background-color: white;
	position: relative;
	float: right;
	display: none;
	/*margin-right: 0px;*/
}
.select1{
	background-color:#A9A9A9;
	text-align: center;
	height: 30px;
	width: 80px;
}
.select1:hover{
	background-color: #000000;
	color: white;
}
